:root {
    --green : #06d6a0;
    --light-green: #f8ffe5;
    --dark-green: #1b9aaa;
    --yellow: #ffc43d;
    --magenta: #ef476f;
}


body {
    background-color: var(--green);
    display: flex;
    flex-direction: column;
    align-items: center;
}


#header {
    font-family: 'VT323', monospace;
    font-size: 40px;
    color: var(--magenta);
    text-shadow: 3px 3px black;
}

.text {
    font-family: 'Coming Soon', cursive;
}

.card {
    background-color: var(--light-green);
    border-radius: 5%;
    width: 500px;
    padding: 50px;
    text-align: center;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.btn {
    background-color: var(--yellow);
    border-color: var(--light-green);
    font-size: 20px;
    padding: 20px;
    margin: 20px;
    border-radius: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn:hover {
    background-color: var(--dark-green);
    color: var(--light-green);
}

.hidden {
    display: none;
}

.fade {
    opacity: 0;
}

footer{
    bottom: 0px;
    text-align: center;
    font-size: 13px;
}

footer a {
    color: black;
}

footer a:hover{
    color: var(--magenta)
}

.secondary-btn {
    background-color: var(--dark-green);
    border-color: var(--dark-green);
    color: white;
    font-size: 16px;
    border-radius: 10%;
    width: 120px;
    height: 60px;
    margin: 10px;
}

.secondary-btn:hover{
    background-color: var(--yellow);
    color: var(--dark-green);
}

.group-btn {
    display: flex;
    justify-content: space-between;
    width: 1000px;
    margin: 10px;
    align-items: baseline;
}


.link {
    color: black;
}

.link:hover {
    color: var(--dark-green);
}

.friendsimg {
    height: 400px;
    width: 400px;
}

.musicbtn{
    display: flex;
    justify-content: baseline;
}

.arrows {
    background-color: var(--yellow);
    border-radius: 20%;
    border: none;
    width: 90px;
    height: 70px;
    font-size: 40px;
    display: none;
} 

#arrowBtnGroup{
    width: 360px;
    text-align: center;
    margin-top: 10px;
}

#arrowRight {
    margin-left: 20px;
} 

#arrowLeft {
    margin-right: 20px ;
} 

form {
    margin-top: 25px;
}

.third-btn{
    background-color: var(--yellow);
    border-radius: 10%;
    border-color: var(--yellow);

}


@media (max-width: 600px) and (orientation: portrait){
    .card{
        width: auto;
        height: auto;
    }

    .greatImg, .friendsimg {
        width: 250px;
        height: 250px;
        margin: 0;
    }


    canvas {
        width: 360px;
        height: 380px;
    }

    .group-btn{
        width: auto;
        display: flex;
        justify-content: space-around;
    }

    .group-btn h3 {
        margin: 5px;
    }

    .secondary-btn{
        display: none;
    }

    .arrows{
        display: inline;
    }

    #header {
        text-align: center;
    }

}

@media (max-width: 900px) and (orientation:landscape){
    .card{
        width: auto;
        height: auto;
    }

    .greatImg, .friendsimg {
        width: 250px;
        height: 250px;
        margin: 0;
    }


    canvas {
        width: 700px;
        height: 450px;
    }

    .group-btn{
        width: auto;
        display: flex;
        justify-content: space-around;
    }

    .group-btn h3 {
        margin: 5px;
    }

    .secondary-btn{
        display: none;
    }

    .arrows{
        display: inline;
    }

    #header {
        text-align: center;
    }

    .arrows{
        width: 50px;
        height: 40px;
        font-size: 16px;
    }

    #arrowRight {
        margin-left: 120px;
    } 
    
    #arrowLeft {
        margin-right: 120px ;
    } 
}

